html {
   height: 100%;
   font-family: 'Nunito Sans', sans-serif;
   scroll-behavior: smooth;
}

body {
   display: flex;
   flex-direction: column;
   height: 100%;
   font-family: 'Nunito Sans', sans-serif;
}
	
main {
   flex: 1 0 auto;
   font-family: 'Nunito Sans', sans-serif;
}

.instafeed-grid{
    width:20%;height:50%;
  }

.fotos {
	width: 100%;
}