html {
   height: 100%;
   font-family: 'Nunito Sans', sans-serif;
   scroll-behavior: smooth;
}

body {
   display: flex;
   flex-direction: column;
   height: 100%;
   font-family: 'Nunito Sans', sans-serif;
}

.box {
  width: 570px;
  height: 520px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#amarilla{
  background-color: yellow;
}

main {
   flex: 1 0 auto;
   font-family: 'Nunito Sans', sans-serif;
}

.instafeed-grid{
    width:20%;height:50%;
  }

.fotos {
	width: 100%;
}

.footer {
  background-color: rgba(245, 172, 14, 0.7);
}